# DAY-01

#### addition  +
#### subtraction  -
#### multiplication  *
#### division  /
#### reminder %
#### power **
#### floor division / /

In [2]:
a=45
b=4
c=a + b
d=a - b

In [3]:
print(a)
print(b)
print(c)

type(c)
type(d)

45
4
49

int

In [4]:
a = 56
b = 67
d = a + b

In [5]:
print(d)
type(d)

123

int

In [7]:
#DIVISION
a = 67
b = 56
c = a / b
print(c)
type(c)

1.1964285714285714

float

In [8]:
#REMINDER
a = 45
b = 67
c = a % b
print(c)
type(c)

45

int

In [9]:
#POWER
a = 56
b = 45
c = a ** b
print(c)
type(c)

4660808027410506132900915088997417305944355117847144307414511042169984019070976

int

In [10]:
#FLOOR
a = 87
b = 43
c = a // b
print(c)
type(c)

2

int

In [11]:
#boolean
#<
x =45
y =10.6
x < y

False

In [12]:
# Operator:-  >
x =45
y =10.6
x > y

True

In [13]:
# Operator:- >=
x =45
y =10.6
x >= y

True

In [14]:
#<=
x =45
y =10.6
x <= y

False

In [15]:
# ==
x =45
y =10.6
x == y

False

In [16]:
x =45
y =45
x == y

True

In [17]:
# !=
x = 45
y = 10.6
x != y

True

In [18]:
#Logical operaters

#AND OPERATOR 

True and True  --- True
True and False  --- False
False and True  --- True
False and False  --- False

False

In [19]:
#OR OPERATOR 

True or True  --- True
True or False  --- False
False or True  --- True
False or False  --- False

0

In [21]:
c = [203,'Hyderabad',45,True,False,78,175,34.90]
c[2]
c[0]

203

In [22]:
c[1]

'Hyderabad'

In [23]:
c[-1]

34.9

In [24]:
c=[203,'Hyderabad',45,True,False,78,175,34.90]
c[ 4:6]
c[2: ]

[45, True, False, 78, 175, 34.9]

In [25]:
c[1:7:2]

['Hyderabad', True, 78]

In [26]:
c=[203,'Hyderabad',45,True,False,78,175,34.90,]

In [27]:
c[2:]

[45, True, False, 78, 175, 34.9]

# LIST  METHODS
##### append 
##### insert
##### extend
##### pop
##### remove
##### clear
##### count

In [29]:
c=[45, True, False, 78, 175, 34.9]
c

[45, True, False, 78, 175, 34.9]

In [30]:
#length of list
len(c)

6

In [32]:
c.append('India')
c

[45, True, False, 78, 175, 34.9, 'India', 'India']

In [33]:
len(c)

8

In [34]:
c.insert(3,90)
c

[45, True, False, 90, 78, 175, 34.9, 'India', 'India']

In [35]:
c.pop(5)

175

In [36]:
c

[45, True, False, 90, 78, 34.9, 'India', 'India']

In [37]:
c.clear()

In [39]:
c

[]

In [46]:
c=[90,'India']

In [47]:
c

[90, 'India']

In [48]:
c.remove(90)

In [49]:
c

['India']

In [50]:
c.count('India')

1

In [51]:
c

['India']

[6, 3, 9, 4, 1, 3, 0, 8.7, 45, 43, 89]

In [53]:
del(d)

In [54]:
d

NameError: name 'd' is not defined

In [55]:
d=[6,3,9,4,1,3,0,8.7,45,43,89]
d

[6, 3, 9, 4, 1, 3, 0, 8.7, 45, 43, 89]

# DAY-02

In [56]:
h = (90,45,6)
h

(90, 45, 6)

In [57]:
type(h)

tuple

In [58]:
##only two operations int tuple
h.index(45)

1

In [59]:
s ={34,56,7}
s

{7, 34, 56}

In [60]:
type(s)

set

In [61]:
#add is only used for set to add the element
s.add(90)

In [62]:
s

{7, 34, 56, 90}

In [63]:
s.remove(56)
s

{7, 34, 90}

In [64]:
y = {45,79,90,214}
y

{45, 79, 90, 214}

In [65]:
s.difference(y)

{7, 34}

In [66]:
s.intersection(y)

{90}

In [67]:
y.intersection(s)

{90}

In [68]:
s.union(y)

{7, 34, 45, 79, 90, 214}

In [69]:
s.symmetric_difference(y)

{7, 34, 45, 79, 214}

In [70]:
a=(50,70,80,90)
a

(50, 70, 80, 90)

In [71]:
d=list(a)
d

[50, 70, 80, 90]

In [72]:
d.append(40)
d

[50, 70, 80, 90, 40]

In [73]:
# a=tuple(d)
a

(50, 70, 80, 90)

### Creating a list named c   DAY -- 03

In [8]:
c=['rk',25,"vikas",True,False,40.23,8525.21255,"nooka"]
c

['rk', 25, 'vikas', True, False, 40.23, 8525.21255, 'nooka']

In [5]:
c[0]

'rk'

In [6]:
type(c[0])

str

In [7]:
c[2]

'vikas'

In [8]:
c[5]

40.23

In [9]:
c[-1]

'nooka'

In [10]:
c[-2]

8525.21255

In [12]:
type(c[-2])

float

In [13]:
c[-0]

'rk'

In [14]:
c[1]==c[-1]

False

In [18]:
c[1]==c[-7]

True

In [19]:
type(c[1]==c[-7])

bool

In [20]:
c[1]!=c[6]

True

In [22]:
c[5]>=c[-3]

True

### Traversing  [start:end]

In [25]:
c[0:3]

['rk', 25, 'vikas']

In [30]:
c[2:-1]

['vikas', True, False, 40.23, 8525.21255]

In [32]:
c[:6]

['rk', 25, 'vikas', True, False, 40.23]

In [33]:
c[2:]

['vikas', True, False, 40.23, 8525.21255, 'nooka']

In [34]:
c

['rk', 25, 'vikas', True, False, 40.23, 8525.21255, 'nooka']

In [35]:
c[0:8:4]

['rk', False]

In [36]:
c[3:]

[True, False, 40.23, 8525.21255, 'nooka']

In [37]:
c[2:7]

['vikas', True, False, 40.23, 8525.21255]

In [38]:
c

['rk', 25, 'vikas', True, False, 40.23, 8525.21255, 'nooka']

In [39]:
c[2:8]

['vikas', True, False, 40.23, 8525.21255, 'nooka']

### Traversing  step wise [start:end:step]

In [41]:
c[1:7:1]

[25, 'vikas', True, False, 40.23, 8525.21255]

In [42]:
c[1:7:2]

[25, True, 40.23]

In [43]:
c[1:8:3]

[25, False, 'nooka']

In [44]:
c[1:8:4]

[25, 40.23]

In [45]:
c[1:8:5]

[25, 8525.21255]

In [46]:
c[1:8:6]

[25, 'nooka']

In [47]:
c[1:8:7]

[25]

In [48]:
c[1:8:8]

[25]

In [9]:
c[-2:5:-1]

[8525.21255]

In [10]:
c[-2:-5:-1]

[8525.21255, 40.23, False]

## List Methods

#### append
#### insert
#### extend
#### pop
#### remove
#### clear
#### count

In [11]:
c

['rk', 25, 'vikas', True, False, 40.23, 8525.21255, 'nooka']

In [12]:
len(c) #length of the list

8

In [13]:
c.append(7854444)

In [14]:
c

['rk', 25, 'vikas', True, False, 40.23, 8525.21255, 'nooka', 7854444]

In [15]:
c.append('Indianssss') #add the element at the last

In [16]:
c

['rk',
 25,
 'vikas',
 True,
 False,
 40.23,
 8525.21255,
 'nooka',
 7854444,
 'Indianssss']

In [18]:
type(c)

list

In [19]:
c.insert(1,83)

In [20]:
c

['rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 8525.21255,
 'nooka',
 7854444,
 'Indianssss']

In [23]:
c.remove(7854444) #to remove the particular element

In [24]:
c

['rk', 83, 25, 'vikas', True, False, 40.23, 8525.21255, 'nooka', 'Indianssss']

In [25]:
len(c)

10

In [26]:
c.pop()  #remove the lastly inserted value in the list and display

'Indianssss'

In [27]:
c

['rk', 83, 25, 'vikas', True, False, 40.23, 8525.21255, 'nooka']

In [28]:
c.pop

In [30]:
c.pop(7)
c

['rk', 83, 25, 'vikas', True, False, 40.23]

In [33]:
c.append('nooka')

In [35]:
c.pop(7)

'nooka'

In [36]:
c

['rk', 83, 25, 'vikas', True, False, 40.23, 'nooka']

In [38]:
c.count('nooka') #It counts the occcurance of an element in the list

1

In [40]:
d=[1,2,3,5,"tujke pass","passss nahi aaaooo"]

In [41]:
d.clear #clears the elements in the list

In [42]:
d.clear()  # clears the all elements in the list

In [43]:
d

[]

In [44]:
c

['rk', 83, 25, 'vikas', True, False, 40.23, 'nooka']

In [55]:
d.extend(c)  #extends the other elements and appends all elements in the list

In [56]:
d

['rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 'nooka']

In [57]:
c.extend(d)

In [58]:
c

['rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 40.23,
 'nooka']

In [66]:
c.remove(40.23)

In [67]:
c

['rk',
 83,
 25,
 'vikas',
 True,
 False,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 'nooka',
 'rk',
 83,
 25,
 'vikas',
 True,
 False,
 'nooka']

In [68]:
c.clear()

In [4]:
c=[1,2]

In [5]:
c.extend([100,200,8746])

In [6]:
c

[1, 2, 100, 200, 8746]

In [7]:
a=[45,789,"friends"]

In [8]:
a

[45, 789, 'friends']

In [9]:
a+c  # Concatination of two lists

[45, 789, 'friends', 1, 2, 100, 200, 8746]

# Tuple  Day -- 04

In [3]:
t=(40,57,54,7894,4555)

In [4]:
type(t)   #tells type

tuple

In [7]:
t.count(40) #count of a particular element

1

In [8]:
t.index(54) #index of a particular element

2

In [9]:
t[0:3] #accesing

(40, 57, 54)

#  Set

In [10]:
h={70,56,48,899}

In [11]:
type(h)

set

In [12]:
h.remove(70) #removes a particular element

In [43]:
h

{48, 56, 899}

In [42]:
g={78,56,66}

In [15]:
h.difference(g)  #difference between the 2 sets

{48, 899}

In [16]:
g.difference(h)

{66, 78}

In [18]:
h.intersection(g)  #finds out the common element in the sets

{56}

In [19]:
g.intersection(h)

{56}

In [22]:
h.union(g) #combines the all elemnts removes the duplicate values

{48, 56, 66, 78, 899}

In [21]:
g.union(h)

{48, 56, 66, 78, 899}

In [24]:
g.difference(h) #take only the values purely from set g

{66, 78}

In [26]:
h.difference(g)  #take only the values purely from set h

{48, 899}

In [28]:
h.symmetric_difference(g) #find out the symmetric difference

{48, 66, 78, 899}

In [36]:
a=(50,70,80,90)
a
type(a)

tuple

In [37]:
d=list(a)   #we could not directly add the elements directly so firstly we need to convert it into lists anthen we can modify them

In [31]:
d

[50, 70, 80, 90]

In [38]:
d.append(60) #appending elements

In [39]:
d

[50, 70, 80, 90, 60]

In [40]:
a=tuple(d)   #again convert the list into the tuplee

In [35]:
a

(50, 70, 80, 90, 50)

In [4]:
a=int(input("Enter mark 1: "))    
b=int(input("Enter mark 2: "))    
c=int(input("Enter mark 3: "))    
average=((a+b+c)/3)
print("The average is : ",average)
if(average>=90):
    print("Grade:A")
elif(80>= average >= 89):
    print("Grade:B")
elif(70>= average >= 79):
    print("Grade:C")
else:
    print("Grade: Fail")

Enter mark 1: 45
Enter mark 2: 56
Enter mark 3: 45
The average is :  48.666666666666664
Grade: Fail

# Day-- 05   __ Dt: 08-01-2025

# Dictionaries

In [8]:
d={'a':4,'b':51,'c':80}  #Dictionaries contain values in pair wise key-value pairs
# Are also mutable objects

In [9]:
d

{'a': 4, 'b': 51, 'c': 80}

In [10]:
type(d)

dict

In [14]:
d['a'] #accessing elements through key pair

4

In [11]:
l=[4,7,2]

In [13]:
l[0] # accesssing elements through indexes(position)

4

In [74]:
d={101:4,102:5,103:5}

In [75]:
d[101]

4

In [76]:
d[103]=6  #assigning values to the oindex through keys

In [77]:
d

{101: 4, 102: 5, 103: 6}

In [78]:
d[104]  #no such element is present in the dictionary

KeyError: 104

In [79]:
d.update({104:8})  #updating the dict after creating firstly

In [80]:
d

{101: 4, 102: 5, 103: 6, 104: 8}

In [81]:
del d[104]  #Deleting a particular key value pair

In [82]:
d

{101: 4, 102: 5, 103: 6}

In [83]:
d.update({105:50})

In [84]:
d

{101: 4, 102: 5, 103: 6, 105: 50}

In [85]:
#  In dictionaries duplicate keys are not allowed but duplicate values are allowed

In [86]:
d.update({101:10000}) #Key will remain same but value changes

In [87]:
d

{101: 10000, 102: 5, 103: 6, 105: 50}

In [88]:
d.update({104:5000})

In [89]:
d

{101: 10000, 102: 5, 103: 6, 105: 50, 104: 5000}

In [90]:
d.update({101:5000})

In [91]:
d

{101: 5000, 102: 5, 103: 6, 105: 50, 104: 5000}

In [92]:
d[104]={1000,5000,6000}  #adding elements in the form of list to the dictionary
#we can also add a tuple or any kind of nested things into a dictionary

In [93]:
d

{101: 5000, 102: 5, 103: 6, 105: 50, 104: {1000, 5000, 6000}}

In [94]:
d[104]

{1000, 5000, 6000}

In [95]:
d

{101: 5000, 102: 5, 103: 6, 105: 50, 104: {1000, 5000, 6000}}

In [96]:
d[101]

5000

In [118]:
type(d[104])  #set is a unindex object

set

In [128]:
d[103]=[30,40,60,80] #assingning values to the dictionary keys

In [120]:
d

{101: 5000, 102: 5, 103: [30, 40, 60, 80], 105: 50, 104: {1000, 5000, 6000}}

In [127]:
d[103][0:3] #accesiing the elements in the doctionaries-list

[30, 40, 60]

In [122]:
d[103]

[30, 40, 60, 80]

In [123]:
d[103].append(100)  #appending or adding elemnts in the dictionaries-list

In [124]:
d

{101: 5000,
 102: 5,
 103: [30, 40, 60, 80, 100],
 105: 50,
 104: {1000, 5000, 6000}}

In [125]:
type(103)

int

In [126]:
type(d[103])

list

In [129]:
d[101]={50:[7,8,9,10],'apple':(20,320,45,48,958,[450,483,466])}

In [130]:
d

{101: {50: [7, 8, 9, 10], 'apple': (20, 320, 45, 48, 958, [450, 483, 466])},
 102: 5,
 103: [30, 40, 60, 80],
 105: 50,
 104: {1000, 5000, 6000}}

In [135]:
d[105]={'a':(10,50,80),'b':(1000,4000,8000,4578),'c':['k',{'t':[11,22],'R':(477,88)},'N']}

In [136]:
d

{101: {50: [7, 8, 9, 10], 'apple': (20, 320, 45, 48, 958, [450, 483, 466])},
 102: 5,
 103: [30, 40, 60, 80],
 105: {'a': (10, 50, 80),
  'b': (1000, 4000, 8000, 4578),
  'c': ['k', {'t': [11, 22], 'R': (477, 88)}, 'N']},
 104: {1000, 5000, 6000}}

In [143]:
d[101]['apple'][5][2]

466

In [146]:
d[105]['b'][0]

1000

# Day--06 __Dt:- 09-01-2025

### Conditional statements

####  if condition1:
     task1
#### elif condition2:
     task2
#### elif condition3:
     task3
#### else:
    task4

In [7]:
#Code to check whetther the given number is a even or odd

x=int(input("Enter a number: "))
if x%2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 5
Odd number

In [8]:
x%2==0

False

In [9]:
5%2==0

False

In [11]:
y='india'
y

'india'

In [27]:
y.isalpha()  # Function checks whether the input given is a alphabet or not  
            # This method is strictly used for only Strings and not for any other data types

True

In [28]:
y1='india123'
y1.isalpha()

False

In [29]:
name='Ram Chandra Chettarji__98675'
name.isalpha()

False

In [32]:
name1=str(input("Enter your name in Upper case: "))

# Program to check whether the input is exactly name or not

if name1.isalpha()==True:
    print('Accept the name for re-evaluation')
else:
    print('Name should no contain Digits or special characters')

Enter your name in Upper case: ram
Accept the name for re-evaluation

In [33]:
name1

'ram'

In [34]:
name1.lower()  # Makes the text to lower-case

'ram'

In [36]:
name1.upper() # Makes the text to the Upper-case

'RAM'

In [37]:
bool(name1.lower)  #checks whether the provided input is lower or not

True

In [44]:
bool(5894)

True

In [39]:
x='Telangana'
x

'Telangana'

In [45]:
x='Mumbai'

In [46]:
x='maharashtra'

In [47]:
x='telangana'

In [48]:
x

'telangana'

In [2]:
x=str(input('Enter the Word: '))
if x.lower().startswith('m' or 'M'):  #  startswith method to check the start 
    print("word starts with m")
else:
    print("It does not start with m")

Enter the Word: maharsatra
word starts with m

In [8]:
x=str(input('Enter the Word: '))
if x[0]=='m' or x[0]=='M':    #simple condition to check whether the word starts with m or M
    print("word starts with m or M")
else:
    print("It does not start with m")

Enter the Word: Moosedee
word starts with m or M

In [23]:
x=str(input("Enter the Word: "))

if x[0].lower() == 'm' or x[0].lower() == 's' or x[0].lower() == 'h':
    print("Yes")
else:
    print("It does not start with m,h,s")

Enter the Word: kotstas
It does not start with m,h,s

In [24]:
if x[0].lower()in ('m','h','s'):
    print("Yes")
else:
    print("No")

No

In [13]:
word=str(input("Enter the word: "))
if word !=0:
    print("The starting letter is:",word[0])

Enter the word: list
The starting letter is: l

# DAY-07

# LOOPING STATEMENTS

### I)FOR LOOP
### II)WHILE LOOP

In [74]:
# FOR LOOP
x=5
while x<10:
    print('Yes',x)
    x=x+0.5

Yes 5
Yes 5.5
Yes 6.0
Yes 6.5
Yes 7.0
Yes 7.5
Yes 8.0
Yes 8.5
Yes 9.0
Yes 9.5

In [75]:
x=5
while x<10:
    print('Yes',x)
    x=x+2

Yes 5
Yes 7
Yes 9

In [76]:
x=5
while x<10:
    print('Yes',x)
    x=x+0.5

Yes 5
Yes 5.5
Yes 6.0
Yes 6.5
Yes 7.0
Yes 7.5
Yes 8.0
Yes 8.5
Yes 9.0
Yes 9.5

In [77]:
x=25
while x<10:
    print('Yes',x)
    x=x-5

In [78]:
x=70
while x > 45:
    print('Yes',x)
    x=x-5

Yes 70
Yes 65
Yes 60
Yes 55
Yes 50

In [79]:
y=[40,25,56,78,82,66,83]
y

[40, 25, 56, 78, 82, 66, 83]

In [80]:
y+5  #this is broadcasting property this is not applicable here

TypeError: can only concatenate list (not "int") to list

In [81]:
y*2

[40, 25, 56, 78, 82, 66, 83, 40, 25, 56, 78, 82, 66, 83]

In [82]:
y

[40, 25, 56, 78, 82, 66, 83]

In [83]:
radius=[40,25,56,78,82,66,83]
radius

[40, 25, 56, 78, 82, 66, 83]

In [84]:
for i in radius:   #finding radius for each element in the list
   values= print(3.14*i*i)

5024.0
1962.5
9847.04
19103.760000000002
21113.36
13677.84
21631.46

In [85]:
area=[]
for i in radius: #appending the found area into the list named area
    area.append(3.14*i*i)

In [86]:
area

[5024.0, 1962.5, 9847.04, 19103.760000000002, 21113.36, 13677.84, 21631.46]

In [87]:
type(area)

list

In [88]:
num=[52,56,18,45,87,4,79,456,47,85,12,4,55,51151,498]
num

[52, 56, 18, 45, 87, 4, 79, 456, 47, 85, 12, 4, 55, 51151, 498]

In [89]:
for i in num:
    if(i%2==0):
        print("Even")
    else:
        print("Odd")

Even
Even
Even
Odd
Odd
Even
Odd
Even
Odd
Odd
Even
Even
Odd
Odd
Even

In [90]:
#condition for checking and sagregatting even and odd elements
even=[]
odd=[]
for i in num:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [91]:
print("Even",even)

Even [52, 56, 18, 4, 456, 12, 4, 498]

In [92]:
print("Odd",odd)

Odd [45, 87, 79, 47, 85, 55, 51151]

In [93]:
#condition for checking and sagregatting even and odd elements
#If even return i square and odd return i cube
even=[]
odd=[]
for i in num:
    if i%2==0:
        even.append(i*i)
    else:
        odd.append(i*i*i)

In [94]:
odd

[91125, 658503, 493039, 103823, 614125, 166375, 133832744995951]

In [95]:
even

[2704, 3136, 324, 16, 207936, 144, 16, 248004]

In [96]:
num1=[39,56,98,99,79,59,65]

In [97]:
a=39

In [98]:
str(a)

'39'

In [99]:
d=str(a)

In [100]:
d.replace('9','1')

'31'

In [101]:
h=[]
for i in num1:
    a=str(i)
    b=a.replace('9','1')  #changes the 9 at last to 1 
    c=int(b)
    h.append(c)

In [102]:
h

[31, 56, 18, 11, 71, 51, 65]

In [103]:
a='Software'
b=''
for i in a:
    if i.lower() not in ('s','o'):
        b+=i

In [105]:
b

'ftware'

#  DAY-08 __ Dt: 11-01-2025

In [3]:
# Syntax for creating a function

def functionname(parameter):
    # block of code
    return output

In [8]:
def calArea(r):
    a=3.148*r*r
    return a

# Calling the function
calArea(78)

19152.432

In [11]:
w=calArea(66)
w

13712.688

In [12]:
type(w)

float

In [20]:
def d_to_inr(x):  #function to transfer the dollar to indian currency
    print(x*85)
d_to_inr(87)

7395

In [21]:
def d_to_inr(x):  #function to transfer the dollar to indian currency
    return x*85
d_to_inr(87)

7395

In [24]:
a=d_to_inr(98)
type(a)

int

In [27]:
def aor(l,w):
    area=l*w
    return area
aor(83,66)

5478

In [30]:
aor(98,'India')

'IndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndia'

In [59]:
def area(radius,length,width):
    aoc=3.14*radius*radius #area of circle
    aor=length*width #area of rectangle
    return [aoc,aor] #If you store in [] it displays as list if not indicated anything it stores as tuple
#If you save it in the form of {} it will save in set

In [60]:
area(45,56,89)

[6358.500000000001, 4984]

In [61]:
type(area)
#Function returns the output as tuple

function

In [62]:
d=area(90,67,54)
d

[25434.000000000004, 3618]

In [63]:
type(d)

list

In [64]:
d[0]

25434.000000000004

In [65]:
aor,aoc=area(10,20,5)
print(aor,aoc)

314.0 100

In [77]:
def area(radius,length,width):
    aoc=3.14*radius*radius #area of circle
    aor=length*width #area of rectangle
    return {'Area Of Rect':aoc,'Area of Circle':aor}

In [78]:
d=area(87,65,24)

In [79]:
type(d)

dict

In [80]:
d

{'Area Of Rect': 23766.66, 'Area of Circle': 1560}

In [5]:
t='Hyderabad 500008 Telangana'
t

'Hyderabad 500008 Telangana'

In [15]:
 #This is the function defined to find out the number of words and alphabets in x or provided t
def count_num_alpha(x): 
    c=0
    d=0
    for i in x:
        if i.isalpha():
            c+=1
        elif i.isnumeric():
            d+=1
    return {'Number of alphabetics':c,'Number of digits':d}
x='Telangana 65682737 Hyderabad'
count_num_alpha(x)

{'Number of alphabetics': 18, 'Number of digits': 8}

In [8]:
count_num_alpha(t)

{'Number of alphabetics': 18, 'Number of digits': 6}

In [13]:
def remove_num(x): 
    c = 0
    d = 0
    new_string = ""

    for i in x:
        if i.isalpha():
            c += 1
            new_string += i
        elif i.isnumeric():
            d += 1

    return {
        'Number of alphabetics': c,
        'Number of digits': d,
        'String without digits': new_string
    }

x = 'Telangana 65682737 Hyderabad'
result = remove_num(x)

print(result)

{'Number of alphabetics': 18, 'Number of digits': 8, 'String without digits': 'TelanganaHyderabad'}

In [20]:
def remove_num(x): 
    c=0
    d=0
    e=""
    for i in x:
        if i.isalpha():
            c+=1
            e+=i
        elif i.isnumeric():
            d+=1
    return {'Number of alphabetics':c,'Number of digits':d,'Numbers are removed then':e}
x='Telangana 65682737 Hyderabad'
remove_num(x)

{'Number of alphabetics': 18,
 'Number of digits': 8,
 'Numbers are removed then': 'TelanganaHyderabad'}