# SIMPLE LINEAR REGRESSION MODELS

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
cars=pd.read_csv('Cars.csv')
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [5]:
import statsmodels.formula.api as smf
# Fit the model
ml_vol = smf.ols('MPG ~ VOL', data=cars).fit()

# Print the R-squared value rounded to 2 decimal places
np.round(ml_vol.rsquared, 2)

0.28

In [6]:
ml_vol.params

Intercept    55.817089
VOL          -0.216625
dtype: float64

In [7]:
import statsmodels.formula.api as smf
# Fit the model
ml_vol1 = smf.ols('MPG ~ SP', data=cars).fit()

# Print the R-squared value rounded to 2 decimal places
np.round(ml_vol1.rsquared, 2)

0.47

In [8]:
import statsmodels.formula.api as smf
# Fit the model
ml_vol1 = smf.ols('MPG ~ HP', data=cars).fit()

# Print the R-squared value rounded to 2 decimal places
np.round(ml_vol1.rsquared, 2)

0.53

In [9]:
import statsmodels.formula.api as smf
# Fit the model
ml_vol1 = smf.ols('MPG ~ WT', data=cars).fit()

# Print the R-squared value rounded to 2 decimal places
np.round(ml_vol1.rsquared, 2)

0.28

In [10]:
import statsmodels.formula.api as smf
# Fit the modEL
model= smf.ols('MPG ~ WT+HP+VOL+SP', data=cars).fit()

# Print the R-squared value rounded to 2 decimal places

np.round(model.rsquared, 2)

0.77